<div class="container">
  <div class="page-title">
    <h3>61st Annual ISNA CONVENTION</h3>
    <p>August 30 - September 2, 2024</p>
  </div>
</div>
<div class="welcome-card">
  <h5><strong>EXHIBITION CONTRACT</strong></h5>
  <br />
  <ol>

    <li>The Islamic Society of North America (ISNA) will organize a Grand Bazaar at its 61st Annual Convention. The
      Bazaar will be held in Trinity Hall at the Hilton Anatole Hotel at 2201 N Stemmons Fwy, Dallas, TX 75207.
      Exhibition hours are on Friday, August 30, 2024, from 3:00 PM to 10:30 PM, Saturday, August 31, 2024, from 8:30 AM
      to 10:30 PM, Sunday, September 1, 2024, from 8:30 AM to 10:30 PM, and Monday, September 2, 2024, from 8:30 AM to
      1:00 PM. </li>

    <li>For questions about the exhibition, sponsorships, and advertising, please contact the exhibit coordinator at
      (317) 838-8131 or email <a href="mailto:akhan@isna.net">akhan@isna.net</a>.</li>

    <li>Confirmation at the end of this booth reservation grants you exclusive, non-transferable permission to use the
      assigned booth space at the 61st Annual ISNA convention within the guidelines & rules of this contract. The
      assigned 10 x 10-foot booth space includes one 8-foot draped table, two chairs, an 8-foot-high drape backdrop, two
      small side drape dividers, and a company ID sign. Any additional items like electricity, credit card lines,
      internet, etc., will incur additional charges.</li>

    <li>Full refunds will be issued for written booth cancellations made by the exhibitor by May 31, 2024. For
      cancellations between June 1st and June 30th, 2024, only 50 % payment will be refunded. No refunds will be made
      after June 30th, 2024. All cancellations should be sent in writing to <a
        href="mailto:akhan@isna.net">akhan@isna.net</a>. Please retain the proof of cancellation. If you are unable to
      attend the convention for any reason, ISNA will not be able to refund the booth payment after June 30th, 2024.
    </li>

    <li>Exhibitors with “ISNA issued name badges” will be allowed to enter the Trinity Hall 1at 8:30 a.m. and must leave
      the Bazaar at 10:30 p.m. during the convention. NO EXCEPTIONS. </li>

    <li>Products and services sold or displayed must meet the Islamic standards ISNA wishes to observe. The
      determination of “Islamic standards” shall be in the sole and absolute discretion of ISNA, and ISNA shall have the
      authority to remove all goods, displays, or other materials not meeting this standard. The refusal to remove these
      materials shall terminate the vendor contract. The exhibitor shall be immediately removed from the exhibit area,
      and the exhibitor shall not be issued a refund for any fees or costs. </li>

    <li><span class="text-danger">THE SALE OF FOOD & BEVERAGES, INCLUDING DESSERTS, SWEETS, SNACKS, CANDY, AND WATER IS
        NOT ALLOWED IN THE BAZAAR HALL. </span></li>

    <li>All displays must be confined to the assigned booth and should not obstruct the view or access to surrounding
      displays/ booths. All displays, discussions, & other activities must be confined to the booth. Audio, video and
      multimedia equipment will be monitored by Bazaar personnel to ensure that a comfortable sound level is maintained.
    </li>

    <li>Solicitation of any kind by any exhibitor or group (for-profit or non-profit), is strictly prohibited outside
      the assigned booth space. </li>

    <li>Exhibitors may not move from an assigned booth to another booth, assume additional booth space, or move booth
      tables, chairs, drapes, or accessories from and between other booths without a properly authorized booth change
      form. Booths must be set up and dismantled according to the schedule, which will be provided after your
      reservation. Any exceptions must be requested 30 days before the event. </li>

    <li>Fireworks, helium tanks, fuel tanks, heating appliances, ovens, and all other incendiary devices are strictly
      prohibited in the exhibit hall. The sale of live animals is strictly prohibited at the convention bazaar. </li>

    <li>ISNA will monitor the bazaar hall and not tolerate the sale or distribution of pirated materials at its
      convention. This includes but is not limited to books, CDs, DVDs, software, etc. ISNA will enforce this policy and
      pursue any legal remedies to prevent piracy or copyright violations at its convention. Any literature (fundraising
      or otherwise) must be restricted to the assigned booth and pre-approved in writing by ISNA. Book-selling vendors
      must complete a separate form providing an inventory of the literature to be sold at the ISNA bazaar. </li>

    <li>ISNA reserves the right to retract the Confirmation Letter and Contract and, therefore, close any exhibit and
      eject any exhibitor or exhibitor’s staff immediately from the Bazaar and the Hotel who/which participate(s) in
      illegal or un-Islamic activities of any kind, is/are involved in any way with disruptive or dangerous activities,
      attempts to resell booth space for personal gain, violate(s) any of the terms or conditions of this agreement, or
      do(es) not immediately comply with instructions given by the ISNA bazaar coordinator. Exhibitors and their staff
      are expected to follow Islamic standards of behavior & ethics when dealing with customers & soliciting business,
      in ISNA’s sole and absolute discretion.</li>

    <li>Exhibitors and their staff indemnify and hold harmless the Islamic Society of North America and its staff &
      agencies from and against all costs, damages, judgments, or legal expenses which may arise from this agreement,
      set-up, exhibition, participation, or dismantling activities during, before, and after the convention. Exhibitor
      also assumes all risks of loss, injury, theft, or damage of any kind or nature whatsoever to any exhibit or
      component thereof; including but not limited to goods, merchandise, cash, records, or any other property. Further,
      exhibitors are expressly bound, at their expense, to repair any damage which they may cause to the bazaar fixtures
      or the convention center through unauthorized modifications or movement of their exhibit. ISNA does not carry
      Insurance for vendor goods/bazaar; therefore, vendors must have their own insurance for property, goods,
      merchandise, and all other materials. </li>

    <li>Exhibitors and their staff indemnify and hold harmless the Hotel and their respective agents and staff against
      any claim or expenses arising out of the use of the exhibition premises. The exhibitor understands and agrees that
      neither ISNA nor the Hotel maintain insurance covering the exhibitor’s property and it is the sole responsibility
      of the exhibitor to obtain such insurance. </li>

    <li>Although the ISNA convention attracts a large attendance, but we cannot guarantee any specific sales volume for
      your products and/or services. Your sales will depend on several factors such as the quality of products/
      services, pricing, demand, economy, advertising strategy, and more. </li>

    <li>The terms and conditions in any attachment (like the bazaar map or booth type) are part of this contract. </li>

    <li>Individuals and businesses attending ISNA events may be videotaped or photographed during the course of the
      convention. By reserving the booths at the convention, you grant permission to ISNA to broadcast, webcast,
      publish, or otherwise report these materials for use by ISNA. We continue to. Your email may be included in ISNA
      e-list serve. You will have the option to opt out of this list. </li>

    <li>As a vendor/exhibitor you can only use your assigned booth space. Any unauthorized use and/or reselling of your
      assigned convention booth(s) is not allowed and will result in a violation of the terms of this contract. This
      action by you will void your contract for the bazaar space and will result in your removal from the bazaar hall.
    </li>

    <li>As an authorized agent of this business or organization, I have read and understood this contract and agree to
      abide by its terms and conditions.</li>

    <li style="font-weight: 800;"><span class="text-danger">NEW POLICY FOR BOOTH RESERVATION: </span><br>We continue to
      strive and ensure
      that
      every vendor gets a fair chance to get a booth(s) of their choice. <span class="text-danger">Vendors are limited
        to reserving a maximum of TWO booths this year.</span> If a vendor is found to have booked more than two
      booths
      using fictitious business names or other entity names beyond the permissible limit of two booths, the additional
      reserved booth will be <strong>automatically cancelled</strong>, and any deposit/payment made for those
      additional
      booths will be withheld and deemed <strong>non-refundable</strong>. Our new policy aims to provide every vendor
      with an equal opportunity to secure their preferred booth(s).</li>

  </ol>
</div>
<div class="d-flex justify-content-end mt-4 mb-5">
  <a href="/assets/documents/sample-booth-picture.pdf" target="_blank"
    class="button-outline-primary button button-icon me-3">
    View Sample Booth Picture
    <img src="/assets/images/welcome/Arrow-primary.svg" alt="" />
  </a>

  <a [routerLink]="['/bazaar']" class="button button-icon button-primary">
    Accept
    <img src="/assets/images/welcome/arrow-bg-white.svg" alt="" />
  </a>
</div>